.Search {
  margin: 0 auto;
}

/*CCS for display of City after search */
.Search .header {
  font-size: 40px;
}
/*CCS for description after search */
.Search .description {
  font-size: 15px;
}
/* CSS for details of weather */
.Details {
  font-size: 15px;
}

ul {
  display: inline-block;
  text-align: left;
  list-style: none;
  margin: 20px;
}
.Search nav {
  max-width: 340px;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
}

input {
  margin: 0 auto;
  display: inline-block;
}

button {
  margin: 0 auto;
  display: inline-block;
}

.Submit:hover {
  cursor: pointer;
}
